#sections .step:first-child .bgbg {
  z-index: 0;
/*   transition: all .01s ease;
  -webkit-transition:all .01s ease; */

-moz-transition: none;
-webkit-transition: none;
-o-transition: color 0 ease-in;
transition: none;

 }

.step {

 /*   transition: all .01s ease;
  -webkit-transition:all .01s ease; */
-moz-transition: none;
-webkit-transition: none;
-o-transition: color 0 ease-in;
transition: none;

 }




.page-content {

     box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   background-color: #fff;

}

/* Mobile Styles */
@media only screen and (max-width: 400px) {


 


.step-content {
/*   max-width: 380px;  */
  width:100%;
 margin-top: 150px;
  position: relative;
padding-left: 26px;
padding-right: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
      z-index: 9985;
    overflow: hidden;
}

}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 


 


.step-content {
/*   max-width: 1080px;  */
  width:100%;
 margin-top: 13em;
   position: relative;
padding-left: 36px;
padding-right: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
      z-index: 9985;
    overflow: hidden;
}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {


 


.step-content {
  max-width: 1080px;  
  width:100%;
 margin-top: 12em;
   position: relative;
padding-left: 66px;
padding-right: 66px;
    padding-top: 66px;
    padding-bottom: 66px;
      z-index: 9985;
   overflow: hidden;
}


}

 
@media print
    {
 



.step-content {
  width:100%;
 margin: 0;
 color: #000;
   position: relative;
padding-left: 12px;
padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
      z-index: 9985;
    overflow: hidden;
 visibility: visible !important;



}
  }



#openerimg {
   z-index: 0;
position: fixed;
  top: 0;
  left: 0;
  background-color: #ff3939;
  display: block;
  width: 100%;
  height: 100%;
 
}

.wrap {
   margin: 20px auto 20px;
  width: 100%;
  text-align:center;
}

.full img {
  width: 90%;
  height: 90%;
     position: relative;
 
}

/* Aspect ratio trick */
.aspect {
  position: relative;
}

/* This padding preserve the aspect ratio */
.aspect:before {
  content: '';
  display: block;
  padding-top: calc(100% * 140/596);/* You could also manually calculate the percentage */
}

.aspect img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}




.example {
  -webkit-columns: 2 250px;
  -moz-columns: 2 250px;
  columns: 2 250px;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  column-gap: 3em;
  -webkit-column-rule-width: 1px;
  -moz-column-rule-width: 1px;
  column-rule-width: 1px;
  -webkit-column-rule-color: #828282;
  -moz-column-rule-color: #828282;
  column-rule-color: #828282;
  margin: 2em auto 2em;
  padding-left: 6px;
  padding-right: 6px;
}

.example-dotted {
  -webkit-column-rule-style: dotted;
  -moz-column-rule-style: dotted;
  column-rule-style: dotted;
}




ul {

  margin-bottom:1em;

}


h3 {

  padding: 0;
  font-family:
    "HelveticaNeue",
    "Helvetica Neue",
    'TeXGyreHerosRegular',
    "Helvetica",
    "Tahoma",
    "Geneva",
    "Arial",
    sans-serif;
line-height:1.3em;
padding-bottom: .3em;
font-weight: 800;
    border-bottom: thin solid;
margin-top:0;
margin-bottom:.6em;
top:0;


}



h3.prog {
color:#3871C1;
 }


h3.staff {
color:#379633;
}


h3.part {
color:#800AD6;
}























/* Mobile Styles */
@media only screen and (max-width: 400px) {




#step-0 {

   /* box-shadow: none !important; */
   padding-bottom: 0 !important;
   padding-right: 0 !important;
   padding-left: 0 !important;
   margin-left: 0 !important;
   margin-right: 0 !important;
padding-top: 26em;
 overflow: hidden;

    }


}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#step-0 {

   /* box-shadow: none !important; */
   padding-bottom: 0 !important;
   padding-right: 0 !important;
   padding-left: 0 !important;
   margin-right: 0 !important;
padding-top: 16em;
overflow: hidden;

    }


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#step-0 {

   /* box-shadow: none !important; */
   padding-bottom: 0 !important;
   padding-right: 0 !important;
   padding-left: 0 !important;
   margin-right: 0 !important;
padding-top: 4em;
overflow: hidden;

    }



}

 
@media print {




#step-0 {

   /* box-shadow: none !important; */
   padding-bottom: 0 !important;
   padding-right: 0 !important;
   padding-left: 0 !important;
   margin-right: 0 !important;
padding-top: 7em;

    }



 }











/* Mobile Styles */
@media only screen and (max-width: 400px) {






#step-0 .page-content .step-content{
text-align: center;

      margin-right: 0 !important;
      padding-right: 0 !important;
      padding-left: 12px !important;
      margin-top: 0 !important;
width: 100% !important;
 background-color: #cfcfcf !important;  
  /*   background-image: url('_bg_bricks.png'); 
      padding: 0 !important;
   box-shadow: none !important;*/ 

max-width: none !important;
overflow: hidden;
    }




}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 





#step-0 .page-content .step-content{
text-align: center;
      margin-right: 0 !important;
      padding-right: 0 !important;
      padding-left: 6px !important;
      margin-top: 0 !important;
width: 100% !important;
 background-color: #cfcfcf !important;  
  /*   background-image: url('_bg_bricks.png'); 
      padding: 0 !important;
   box-shadow: none !important;*/ 
overflow: hidden;

max-width: none !important;
    }




 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#step-0 .page-content .step-content{

      margin-right: 0 !important;
      padding-right: 0 !important;
      padding-left: 66px !important;
      margin-top: 0 !important;
width: 100% !important;
 background-color: #cfcfcf !important;  
  /*   background-image: url('_bg_bricks.png'); 
      padding: 0 !important;
   box-shadow: none !important;*/ 
overflow: hidden;
max-width: none !important;
    }




}

 
@media print {







#step-0 .page-content .step-content{

      margin-right: 0 !important;
      padding-right: 0 !important;
      padding-left: 12px !important;
      margin-top: 0 !important;
width: 100% !important;
 background-color: #cfcfcf !important;  
  /*   background-image: url('_bg_bricks.png'); 
      padding: 0 !important;
   box-shadow: none !important;*/ 

max-width: none !important;
    }




 }









#step-0 .stepspan {
height: 0px !important;

}




#step-1 {

   }



#step-2 {
   }



#step-4 {
   }



#step-17 {
   }



#step-20 {
  }



#step-24 {
   }



 


/* Mobile Styles */
@media only screen and (max-width: 400px) {


#container-A {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 66%;margin: 0;padding: 0;left: -3%;bottom: 284px;z-index: 11;position: absolute;display: inline-block; 
  min-width: 400px;
  max-width: 1500px;
  overflow: hidden;
}

}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 

#container-A {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 66%;margin: 0;padding: 0;left: 8%;
bottom: 60px;z-index: 11;position: absolute;display: inline-block; 
  min-width: 536px;
  max-width: 1500px;
    overflow: hidden;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {



#container-A {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 63%;margin: 0;padding: 0;left: 21vw;bottom: -3px;z-index: 11;position: absolute;display: inline-block; 
  min-width: 636px;
  max-width: 1500px;
    overflow: hidden;

}


}

 
@media print {


  #container-A {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 100%;
margin: 0;
padding: 0;
z-index: 11;
position: relative;
display: block; 
 }


 }







/* Mobile Styles */
@media only screen and (max-width: 400px) {



#container-Ar {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 33%;margin: 0;padding: 0;right: 0;bottom: 20px;z-index: 88;display: inline-block;position: fixed;right:-63px;
  min-width:200px;
}

}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 


#container-Ar {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 33%;margin: 0;padding: 0;right: 0;bottom: 20px;z-index: 88;display: inline-block;position: fixed;right:-63px;
   min-width:200px;
 
}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {




#container-Ar {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 33%;margin: 0;padding: 0;right: 0;bottom: 60px;z-index: 88;display: inline-block;position: fixed;right:-63px;
   min-width:350px;
 
}

}
 
@media print {


  #container-Ar {
/*  max-width: 800px;
background-color: #ff5722;
 */
display: none;
}
 }














/* Mobile Styles */
@media only screen and (max-width: 400px) {




#container-Al {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 33%;margin: 0;padding: 0;bottom: 70px;z-index: 99;display: inline-block;position: fixed;left:-62px;
    min-width:240px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-Al {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 33%;margin: 0;padding: 0;bottom: 70px;z-index: 99;display: inline-block;position: fixed;left: -62px; 
    min-width:240px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {






#container-Al {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 33%;margin: 0;padding: 0;bottom: 70px;z-index: 99;display: inline-block;position: fixed;left: -62px; 
    min-width:200px;

}

}

 
@media print {

  #container-Al {
/*  max-width: 800px;
background-color: #ff5722;
 */
display: none;
}

 }



























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-0 svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-0 svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-0 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-0 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }



























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-1 svg {  


width: 140%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-1 svg {  


width: 140%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-1 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-1 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }



























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-2 svg {  


width: 152%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-2 svg {  


width: 150%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -66px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-2 svg {  


width: 150%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; 

}

}

 
@media print {




#illo-2 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }



























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-3 svg {  


width: 150%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-3 svg {  


width: 150%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-3 svg {  


width: 150%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-3 svg {  


width: 140%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle;
 

}

 }



























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-4 svg {  


width: 150%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-4 svg {  


width: 140%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-4 svg {  


width: 130%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-4 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }



























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-5 svg {  


width: 160%;margin: 0;padding: 0;left: -30%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-5 svg {  


width: 150%;margin: 0;padding: 0;left: -25%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -66px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-5 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -66px;

}

}

 
@media print {




#illo-5 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }



























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-6 svg {  


width: 150%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-6 svg {  


width: 150%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-6 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-6 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }



























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-7 svg {  


width: 230%;margin: 0;padding: 0;right: -80%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-7 svg {  


width: 230%;margin: 0;padding: 0;right: -80%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-7 svg {  


width: 150%;margin: 0;padding: 0;left:-25%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-7 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }



























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-8 svg {  


width: 190%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -66px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-8 svg {  


width: 190%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -66px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-8 svg {  


width: 170%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -66px;

}

}

 
@media print {




#illo-8 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }



























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-9 svg {  


width: 120%;margin: 0;padding: 0;left: -10%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-9 svg {  


width: 130%;margin: 0;padding: 0;left: -15%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-9 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-9 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-10 svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-10 svg {  


width: 130%;margin: 0;padding: 0;left: -15%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-10 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-10 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-11 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-11 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-11 svg {  


width: 110%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-11 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-12 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-12 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-12 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-12 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
















/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-13 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-13 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-13 svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-13 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }









/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-14 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-14 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-14 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-14 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }

















/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-15 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-15 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-15 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-15 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }














/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-16 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-16 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-16 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-16 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }











/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-17 svg {  


width: 150%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-17 svg {  


width: 150%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-17 svg {  


width: 130%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-17 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }












/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-18 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-18 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-18 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-18 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }

















/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-19 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-19 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-19 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-19 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }












/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-20 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-20 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-20 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-20 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }













/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-21 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-21 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-21 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-21 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }

















/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-22 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-22 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-22 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-22 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
















/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-23 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-23 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-23 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-23 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
















/* Mobile Styles */
@media only screen and (max-width: 400px) {





#illo-24 svg {  


width: 120%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#illo-24 svg {  


width: 130%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#illo-24 svg {  


width: 100%;margin: 0;padding: 0;right: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#illo-24 svg {  


width: 100%;margin: 0;padding: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }

























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-O svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-O svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-O svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle;margin-top: -166px; 

}

}

 
@media print {




#container-O svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-P svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-P svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-P svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#container-P svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-Q svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-Q svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-Q svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#container-Q svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-R svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-R svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-R svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#container-R svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-S svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-S svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-S svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#container-S svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-T svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-T svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-T svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#container-T svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-U svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-U svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-U svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#container-U svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-V svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-V svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-V svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#container-V svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-W svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-W svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-W svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#container-W svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }
























/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-X svg {  


width: 120%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-X svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-X svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#container-X svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }










/* Mobile Styles */
@media only screen and (max-width: 400px) {





#container-Y svg {  


width: 130%;margin: 0;padding: 0;left: -10%;z-index: 9;position: absolute;display: block;vertical-align: middle;  margin-top: -166px;

}
 
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 



#container-Y svg {  


width: 130%;margin: 0;padding: 0;left: -20%;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}


 }



/* Desktop Styles */
@media only screen and (min-width: 961px) {





#container-Y svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: absolute;display: block;vertical-align: middle; margin-top: -166px;

}

}

 
@media print {




#container-Y svg {  


width: 100%;margin: 0;padding: 0;left: 0;z-index: 9;position: relative;display: block;vertical-align: middle; 
 

}

 }















#container-Obj {
/*  max-width: 800px;
background-color: #ff5722;
 */
width: 21%;height: 21%;margin: 0;padding: 0;bottom: 14vw;z-index: 99;display: none;position: fixed;left: -1117vw; 
  
}

#container-0 {
/*  max-width: 800px; */
  
}
#container-1 {
/*  max-width: 800px; */
 

}


#container-2 {
/*  max-width: 800px;
*/

 
 }

#container-3 {
/*  max-width: 800px;    background-color:rgba(128, 10, 214,.9);
 */
 
 }

#container-4 {
/*  max-width: 800px;   background-color:#001557;
 */
 
 
 }

#container-5 {
/*  max-width: 800px;    background-color:#AF202D;
*/
 
 }



#container-6 {
/*  max-width: 800px;
*/
 
 }



#container-7 {
/*  max-width: 800px;
*/

 
 }






#container-8 {
/*  max-width: 800px;     
*/
  }





#container-9 {
/*  max-width: 800px;     
*/
  }





#container-10 {
/*  max-width: 800px;     
*/
  }



#container-11 {
/*  max-width: 800px;     
*/
  }



#container-12 {
/*  max-width: 800px;     
*/
  }



#container-13 {
/*  max-width: 800px;     
*/
 }



#container-14 {
/*  max-width: 800px;     
*/
  }



#container-15 {
/*  max-width: 800px;     
*/
  }



#container-16 {
/*  max-width: 800px;     
*/
  }



#container-17 {
/*  max-width: 800px;     
*/
 }



#container-18 {
/*  max-width: 800px;     
*/
  }




#container-19 {
/*  max-width: 800px;     
*/
  }


#container-20 {
/*  max-width: 800px;     
*/
  }


#container-21 {
/*  max-width: 800px;     
*/
  }


#container-22 {
/*  max-width: 800px;     
*/
  }







blockquote {
  font-family: tablet-gothic, sans-serif;
     font-size: 24px;
font-weight: 700;
    width: 100%;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #212121;
    border: none;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #aeea00;
}

blockquote footer {
    color: #212121;
    font-size: 14px;
    display: block;
    text-align: right;
    font-weight: 400;
    float: right;
    margin-top: 5px;
    margin-left: 40px;
}


.bigblues {
  color:#3871C1;
  font-weight:800;
  text-transform: uppercase;

}

.tagblues {
  color:#fff;
  font-weight:800;
  text-transform: uppercase;
  background:none;
  background-color:none;
  font-size:.7em;
  max-width:400px;
  bottom:3vh;
  left:3vw;
  position:fixed;
  display:block;
  z-index:999999999999;
      text-shadow: 1px 1px 1px #000;

}

.imgcontainer {

  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}

.imgcontainerB {

  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: .3em;
  margin-top: 1em;
}


#container-22 {

display: none;

}

#titleCloser {

    background-color: rgba(56, 113, 193, .9);
padding:3vh;

left: 0;
  text-transform: none !important;
  color: #fff;
  font-size: 1.5em;
display: none;

    font-family: "HelveticaNeue",
      "Helvetica Neue",
      'TeXGyreHerosRegular',
      "Helvetica",
      "Tahoma",
      "Geneva",
      "Arial",
      sans-serif;
  font-weight: 400;

  margin-bottom: 0;
    top: 1.8em;


  text-align: left;
  line-height: 1.3em;
  position: fixed;
  width: 100%;
  z-index: 99997;
}
#titleCloser img {
  margin-right: 1em;
  min-width:150px;
}

 
 


.introimg {

padding: .3em;


}

